---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Sectores from '../components/Sectores.astro';
import Servicios from '../components/Servicios.astro';
import DiagramaProductos from '../components/DiagramaProductos.astro';
import CasosDeExito from '../components/CasosDeExito.astro';
import About from '../components/About.astro';
import Investiger from '../components/investiger.astro';
import StackTecnico from '../components/StackTecnico.astro';
import Contact from '../components/Contact.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <Sectores />
    <Servicios />
    <DiagramaProductos />
    <CasosDeExito />
    <About/> 
    <Investiger/>
    <StackTecnico/>
    <Contact/>
  </main>
</BaseLayout>
