---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Casos from '../components/Casos.astro';
import Portafolio from '../components/portafolio.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Investiger from '../components/investiger.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <Servicios />
    <Casos />
    <Portafolio />
    <About/> 
    <Investiger/>
    <Contact/>
  </main>
</BaseLayout>
