---
import '../styles/invetiger.css'
---
<section class="research-carousel-section" id="investigacion">
  <h2 class="services-title">Líneas de Interés y Trabajo</h2>
  <div class="slider-wrapper">
    <div class="slider-container">

      <!-- Tarjeta 1 -->
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-brain"></i>
        </div>
        <h3>Detección de Pérdidas y Anomalías</h3>
        <p>Aplicación de modelos avanzados de <strong>Machine Learning</strong> para identificar patrones de consumo
          inusuales y prevenir pérdidas de energía no técnicas.</p>
          <div class="botones">
        <span class="keyword">#MachineLearning</span>
        <span class="keyword">#Anomalías</span>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-bolt"></i>
        </div>
        <h3>Procesamiento Distribuido a Gran Escala</h3>
        <p>Uso de plataformas como <strong>Dataproc</strong> (Apache Spark/Hadoop) para el manejo y análisis eficiente
          de volúmenes masivos de datos en operaciones energéticas.</p>
           <div class="botones">
        <span class="keyword">#Dataproc</span>
        <span class="keyword">#BigData</span>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-cloud"></i>
        </div>
        <h3>Arquitecturas Serverless en Campo</h3>
        <p>Diseño e implementación de soluciones completamente gestionadas y escalables (Cloud Functions, Cloud Run)
          para optimizar procesos técnicos en campo.</p>
           <div class="botones">
        <span class="keyword">#Serverless</span>
        <span class="keyword">#Cloud</span>
           </div>
      </div>

      <!-- Tarjeta 4 -->
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-network-wired"></i>
        </div>
        <h3>Integración Móvil–Nube–Analítica</h3>
        <p>Creación de soluciones de alto impacto que conectan la recolección de datos en <strong>aplicaciones
            móviles</strong> con la <strong>nube</strong> y la <strong>analítica</strong> avanzada.</p>
             <div class="botones">
        <span class="keyword">#Mobile</span>
        <span class="keyword">#IoT</span>
             </div>
      </div>

    </div>
  </div>
</section>
